body {
    margin: 0;
    display: flex; 
    flex-direction: column;
    
}

header {
    display: flex;
}

.articles {           
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    gap: 10px;
}

.articles article {
    width: 30%;
}